.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15%;
}
hr {
    border: 4px solid #F3A2A2;
    width: 80%;
}
.content2 {
    display: flex;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    padding: 2%;
}

.content2-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: left;
    flex-direction: column;
    margin-right: 5%;
}
.content2-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 5%;
}

.content3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}