.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 11%;
}
hr {
    border: 4px solid #F3A2A2;
    width: 80%;
}
.course-img {
    width: 80%;
    margin: 5%;
    border-radius: 30px;
    display: table;
    text-align: center;
    transition: 0.1s;
    background-color: #FFDEDE;
}
.course-detail-isi {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
}

.course-detail-kiri {
    margin-left: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-detail-kanan {
    color: white;
    width: 60%;
    text-align: left;
    padding: 25px;
}

.course-detail-button {
    display: flex;
    background-color: #EFF4B7;
    width: 60%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
    transition: 0.1s;
}
.tulisanPutihx {
    color: white;
    font-family: Reem Kufi;
}
.course-detail-button:hover {
    background-color: orange;
    color: black;
    transition: 0.5s;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

}

.tulisanPutih {
    font-weight: bold;
}

.list {
    text-align: left;
    padding: 15px;
    margin-left: 10%;
}