
/*Rules for sizing the icon*/
        
.material-icons.md-18 {
    font-size: 22px;
}
        
.material-icons.md-24 {
    font-size: 24px;
    color: #432F2F;
}
        
.material-icons.md-36 {
    font-size: 36px;
    color: #432F2F;
    text-decoration: none;
}
.material-icons.md-36:hover {
    font-size: 36px;
    color:#CB6F6F ;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.material-icons.md-362 {
    font-size: 36px;
    color: white;
    text-decoration: none;
}
.material-icons.md-362:hover {
    font-size: 36px;
    color:lightgreen ;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

        
.material-icons.md-48 {
    font-size: 48px;
}
/*_____________________________________*/

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 0px;
}

body {
	background-color: #432F2F;
    scroll-behavior: smooth;
    height: 100%;
    width: 101.5%;
    overflow-y: scroll;
    padding-right: 20px;
    box-sizing: content-box;
    font-family: Reem Kufi;
    margin: 0px;
    position: absolute;
    right: -40px;
}

.tulisanPutih {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tulisanCoklat {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #432F2F;
}

.tulisanHitam {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: black;
}

.hurufBesar {
    font-size: 2.6vw;
    line-height: 45px;
}

.hurufSedang {
    font-size: 30px;
    line-height: 30px;
}

.hurufKecil {
    font-size: 20px;
    line-height: 16px;
}
.justify {
    text-align: justify;
}

.pembatasSubJudulPutih {
    width: 200px;
    border: 1px solid white;
    margin: 3px;
}
.pembatasSubJudulPink {
    width: 200px;
    border: 1px solid #FFC0C0;
    margin: 3px;
}
.pembatasSubJudulCoklat {
    width: 200px;
    border: 1px solid #432F2F;
    margin: 3px;
}

@font-face {
	font-family: Calligraffitti;
	src:url(fonts/Calligraffitti-Regular.ttf);
}

@font-face {
	font-family: Reem Kufi;
	src:url(fonts/ReemKufi-Regular.ttf);
}

@font-face {
    font-family: Itim;
    src:url(fonts/Itim-Regular.ttf);
}

@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}
@media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }
