.allMid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 100%;
}

.inline {
    display: inline-block;
}

/* styling page index.php
--------------------
 */
#contentMainPage {
    padding-top: 200px;
}
.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.content1-kiri {
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.content1-kanan {
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.content1-quote {
    width: 80%;
    font-size: 20px;
}
.content1-button {
    width: 300px;
    height: 50px;
    background: #FFDEDE;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.content1-button:hover {
    transition: 1s;
    background-color: #CB6F6F;
    color: white;
    cursor: pointer;
}
#about-us {
    width: 500px;
    height: 369px;

    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hurufBesar {
    font-size: 35px;
    line-height: 40px;
}


#gambarIndex1 {
    width: 550px;
    height: 350px;
}

#quoteMainPage {
    font-size: 18px;
    width: 540px;
    height: 54px;
}
.hr1 {
    width: 274px;
    height: 0px;
    border: 1px solid #B56B5A;
}

.hr2 {
    width: 274px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.slideTitle {
    font-size: 50px;
    text-align: center;
}

#slide1 {
    color: #FFDEDE;
}

#gambarIndex2 {
    width: inherit;
    height: inherit;
    background-color: #FFC0C0;
}

/*
Styling FAQ page
------------------------------------
*/

.talk-bubble {
    margin: 40px;
    position:relative;
    width: 550px;
    height: auto;
    background-color: lightyellow;
}
.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

.talktext {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}
.talktext p {
    -webkit-margin-after: 0em;
    display: inline-block;
    margin-left: 10px;
}
.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 25px;
    bottom: auto;
    border: 12px solid;
    border-color: #DB6E61 transparent transparent #DB6E61;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

#answer {
    background-color: #DB6E61;
}
.talktext.answer {
    /*float: right;*/
}
.talktext.answer p {
    margin-top: 15px;
    margin-right: 10px;
    -webkit-margin-after: 0em;
}
.talktext.answer img {
    float: right;
    top: 0px;
}
.talktext.question img {
    float: left;
    top: 0px;
}
.question2 {
    
}