.allMid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 100%;
}

.inline {
    display: inline-block;
}

/* styling page indexAdmin.php
--------------------
 */
#contentMainPage {
    padding-top: 150px;
}
#judul {
    width: 500px;
}
#home {
    color: #CB6F6F;
}
.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 3.5%;
}
.content1-kiri {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.content1-kanan {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.content1-quote {
    width: 80%;
    font-size: 20px;
}
.content1-button {
    width: auto;
    height: 50px;
    padding: 5px;
    background: #FFDEDE;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    text-decoration: none;
    color:  #432F2F;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
}
.content1-button:hover {
    transition: 1s;
    background-color: #CB6F6F;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    color: white;
    cursor: pointer;
}
.content1-image {
    width: 70%;
    height: 70%;
    border-radius: 50px;
}
.welcome {
    font-size: 50px;
    margin-bottom: 0px;
}
#header-loginButton {
    background-color: #BFF0FF;
    border-radius: 30px;
    font-size: 20px;
    font-family: Itim;
    font-weight: bold;
}