#judul {
    width: 500px;
}

table, th, tr, td {
    border: 2px solid #7D94D1;
    background-color: #FFFFFF;
}
table {
    border-collapse: collapse;
}
th {
    padding: 15px;
    font-size: 20px;
}

td {
    padding: 5px;
    font-size: 18px;
}
.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

.button {
    width: auto;
    height: 50px;
    border-radius: 20px;
    /*margin-top: 10%;*/
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}
.content1-button:hover {
    transition: 1s;
    background-color: #CB6F6F;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    color: white;
    cursor: pointer;
}

.table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}
.button-kiri {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5%;
    background-color: #BFEA88;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
    padding: 10px;
}
.button-kanan {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #E16354;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
    padding: 10px;
}
.button-verified {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #54D9E1;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
    padding: 10px;
}
.button-rejected {
    width: 100%;
    height: 70%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #F17400;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
    padding: 10px;
}

#back {
    background-color: #F3A2A2;
    /* color: #FFFFFF; */
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100px;
    font-family: Reem Kufi;
    border-radius: 30px;
    padding: 10px;
    color: #432F2F;
    font-size: 1.4vw;
}
#back:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
    background-color: #E16354;
    color: white;
}

#download-btn{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100px;
    font-family: Reem Kufi;
    border-radius: 30px;
    padding: 10px;
    color: #432F2F;
    font-size: 1.4vw;
}

hr {
    border: 4px solid #F3A2A2;
    border-top: none;
    margin-bottom: 4%;
    width: 80%;
}

.content2 {
    display: flex;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 2%;
}

.content2-1 {
    width: 15%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: left;
    flex-direction: column;
}

.content2-2 {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin-right: 5%;
}
.content2-3 {
    width: 15%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: left;
    flex-direction: column;
}
.content2-4 {
    width: 35%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.kotakInput {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border: none;
    padding-left: 5px;
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    margin-left: 3%;
}

.kotakInput::placeholder {
    color: #CB6F6F;
    font-family:Reem Kufi;
    font-size: 100%;
    line-height: 30px;
}

.kotakInput.error {
    background-color: #ce3232;
}

#search {
    margin-left: 20%;
    width: 100px;
    height: 80%;
    border-radius: 30px;
    background-color: #F3A2A2;
    color: #432F2F;
    font-size: 1.5vw;
    border: none;
}
#search:hover{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
    background-color: #E16354;
    color: white;
    cursor: pointer;
}

.content-kiri {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.content-kanan {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#strip {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 30px;
}
.kotakDate {
    display: inline-block;
    width: 42%;
    height: auto;
    background-color: #FFFFFF;
    border: none;
    padding-left: 5px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
}

#header-loginButton {
    background-color: #BFF0FF;
    border-radius: 30px;
    font-size: 20px;
    font-family: Itim;
    font-weight: bold;
}