/* styling global
--------------------
 */
body {
	background-color: #432F2F;
    margin: 0px;
}

.header {
    background-color: #CB6F6F;
    display: block;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
}

.nav {
    background-color: white;
    display: block;
    width: 100%;
    height: 34px;
    left: 0px;
    top: 69px;
}

.menuNav {
    display: inline-block;
    padding: 5px;
    padding-left: 20px;
    text-decoration-line: none;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #432F2F;
}

#judul {
	position: absolute;
    left: 15px;
	width: 202px;
	height: 49px;
    margin: 0px;
    padding: 10px;

	font-family: Calligraffitti;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;

	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tulisanPutih {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tulisanCoklat {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #432F2F;
}

@font-face {
	font-family: Calligraffitti;
	src:url(fonts/Calligraffitti-Regular.ttf);
}

@font-face {
	font-family: Reem Kufi;
	src:url(fonts/ReemKufi-Regular.ttf);
}

/* styling page index.php
--------------------
 */

#learnNewKnowledge {
    font-size: 35px;
    line-height: 45px;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 150px;
    top: 200px;
}

#tombolStartLearning {
    position: absolute;
    width: 231px;
    height: 50px;
    left: 280px;
    top: 470px;
    background: #FFDEDE;
    border-radius: 30px;
    border: none;
}

#gambarIndex1 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 650px;
    top: 150px;
}

#quoteMainPage {
    font-size: 20px;
    position: absolute;
    width: 540px;
    height: 54px;
    left: 690px;
    top: 500px;
}

form {
    background-color: #FFFFFF;
    color: #432F2F;
    text-align: center;
    width: 545px;
    position: relative;
    left: 25%;
    border-radius: 0 0 19px 19px;
}

input {
    background-color: #CB6F6F;
}

.button {
    position: relative;
    width: 100px;
    height: 30px;
    background: #FFDEDE;
    border-radius: 15px;
    padding-bottom: 20px;
}

.imageLogin {
    position: relative;
    width: 545px;
    height: 180px;
    align-items: center;
    left: 25%;
    top: 20px;
    border-radius: 19px 19px 0 0;
}

table {
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}
