/* styling global
--------------------
 */
body {
	background-color: #432F2F;
    margin: 0px;
}

.main {
    padding-top: 200px;
}

.header {
    position: fixed;
    background-color: #CB6F6F;
    display: block;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
}

.nav {
    position: fixed;
    background-color: white;
    display: block;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 69px;
}

.menuNav {
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration-line: none;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    float: left;

    color: #432F2F;
}
.menuNav:hover {
    background-color: #CB6F6F;
    color: white;
    cursor: pointer;
}

#judul {
	position: absolute;
    left: 60px;
    top : 2px;
	width: 202px;
	height: 49px;
    margin: 0px;
    padding: 10px;

	font-family: Calligraffitti;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;

	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#logo {
    position: absolute;
    width: 70px;
    height: 70px;
}

.tulisanPutih {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tulisanCoklat {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #432F2F;
}

@font-face {
	font-family: Calligraffitti;
	src:url(fonts/Calligraffitti-Regular.ttf);
}

@font-face {
	font-family: Reem Kufi;
	src:url(fonts/ReemKufi-Regular.ttf);
}

/* styling page index.php
--------------------
 */
#learnNewKnowledge {
    font-size: 35px;
    line-height: 45px;
    width: 500px;
    height: 260px;
}

#tombolStartLearning {
    width: 300px;
    height: 50px;
    background: #FFDEDE;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
}
#tombolStartLearning:hover {
    background-color: #CB6F6F;
    color: white;
    cursor: pointer;
}

#gambarIndex1 {
    width: 550px;
    height: 350px;
}

#quoteMainPage {
    font-size: 18px;
    width: 540px;
    height: 54px;
}

.inline {
    display: inline-block;
}


.kotakCoklat {
    background-color: #432F2F;
    border-radius: 18px;
    padding: 20px;
    width: 400px;
    font-size: 30px;
    line-height: 40px;
}

#gambarIndex3 {
    width: 550px;
    height: 450px;
    margin-right: 100px;
    vertical-align: middle;
}

#aWorldWhere {
    vertical-align: middle;
    font-size: 35px;
    line-height: 45px;
    width: 600px;
    height: 260px;
    margin-right: 90px;
}
#gambarIndex2 {
    width: inherit;
    height: inherit;
    background-color: #FFC0C0;
}
.allMid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 100%;
}

.kotakPink {
    padding-top: 20px;
    vertical-align: middle;
    justify-content: center;
    margin: 0px;
    width: 350px;
    height: 300px;
    background-color: #FFC0C0;
    border: 0px solid black;
    
    padding: 20px;
}
/* styling page userLogin.php
--------------------
 */
form {
    background-color: #FFFFFF;
    color: #432F2F;
    text-align: center;
    width: 545px;
    position: relative;
    border-radius: 0 0 19px 19px;
}

input {
    background-color: #CB6F6F;
}

.button {
    position: relative;
    width: 100px;
    height: 30px;
    background: #FFDEDE;
    border-radius: 15px;
    padding-bottom: 20px;
}

.imageLogin {
    position: relative;
    width: 545px;
    height: 180px;
    align-items: center;
    top: 20px;
    border-radius: 19px 19px 0 0;
}

table {
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}

*{
    font-family: Reem Kufi;
}

.form{
    margin-top: 150px;
    margin-left: 500px;
}



/* styling page aboutUs.php
--------------------
 */
.hr1 {
    width: 274px;
    height: 0px;
    border: 1px solid #B56B5A;
}

.hr2 {
    width: 274px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.slideTitle {
    font-size: 50px;
    text-align: center;
}

#slide1 {
    color: #FFDEDE;
}

#about-us {
    width: 500px;
    height: 369px;

    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content {
    /*margin-top: 50px;*/
    /*display: inline-block;*/
    margin-left: 0px;
    padding-left: 0px;
    align-items: center;
    vertical-align: middle;
}

.content img {
    /*display: inline-block;*/
    vertical-align: middle;

    /*position: absolute;*/
    width: 380px;
    height: 239px;
    left: 7px;
    top: 317px;
    align-items: center;
}

#pinkbgIdx2 {
    background-color: #FFC0C0;
    padding: 100px;
    height: 700px;
    margin-top: 150px;
}


#pinkbgIdx2 .content {
    margin-top: 0px;
    padding-top: 0px;
}

#visi {
    display: inline-block;
    width: 300px;
    margin-top: 0px;
    margin-left: 220px;
}

#misi {
    width: 300px;
    margin-top: 0px;
    margin-left: 220px;
}

.talk-bubble {
    margin: 40px;
    position: relative;
    width: 550px;
    height: auto;
    background-color: lightyellow;
}
.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

.talktext {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}
.talktext p {
    -webkit-margin-after: 0em;
    display: inline-block;
    margin-left: 10px;
}
.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 25px;
    bottom: auto;
    border: 12px solid;
    border-color: #DB6E61 transparent transparent #DB6E61;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

#answer {
    background-color: #DB6E61;
}
.talktext.answer {
    /*float: right;*/
}
.talktext.answer p {
    margin-top: 15px;
    margin-right: 10px;
    -webkit-margin-after: 0em;
}
.talktext.answer img {
    float: right;
    top: 0px;
}
.talktext.question img {
    float: left;
    top: 0px;
}
.question2 {
    
}