#judul {
    width: 500px;
}

table, th, tr, td {
    border: 2px solid #7D94D1;
    background-color: #FFFFFF;
}
table {
    border-collapse: collapse;
}
th {
    padding: 15px;
    font-size: 20px;
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
td {
    padding: 5px;
    font-size: 18px;
}
.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    font-size: 3.5vw;
}

.status{
    font-size: 1.3vw;
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.button {
    width: auto;
    height: 50px;
    border-radius: 20px;
    /*margin-top: 10%;*/
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}
.content1-button:hover {
    transition: 1s;
    background-color: #CB6F6F;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    color: white;
    cursor: pointer;
}

.table {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3%;
}
.button-kiri {
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #BFEA88;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
}
.button-kiri:hover{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.2s;
}
.button-kanan {
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: #E16354;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
}
.button-kanan:hover{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.2s;
}
.button-verified {
    width: 100%;
    height: 70%;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #54D9E1;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
    padding: 10px;
}
.button-verified:hover{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.2s;
}
.button-rejected {
    width: 100%;
    height: 70%;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #F17400;
    border-radius: 20px;
    font-size: 18px;
    font-family: Reem Kufi;
    padding: 10px;
}
.button-rejected:hover{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.2s;
}

#back {
    background-color: #F3A2A2;
    margin-left: 10%;
    margin-top: 5%;
    width: 100px;
    font-size: 1.5vw;
    font-family: Reem Kufi;   
    text-decoration: none;
    color: #432F2F;
}
#back:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
    cursor: pointer;
    color: white;
    background-color: #E16354;
}

#header-loginButton {
    background-color: #BFF0FF;
    border-radius: 30px;
    font-size: 20px;
    font-family: Itim;
    font-weight: bold;
}


.row > .column {
    padding: 0 8px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

img {
    margin-bottom: -4px;
}


.demo {
    opacity: 0.6;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}