/* styling page adminLogin.php
--------------------
 */
 
/*#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-top: 150px;
}*/
#judul {
    width: 500px;
}
#verif {
    color: #CB6F6F;
}
.content2 {
    display: flex;
    margin-top: 30%;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 40px;
}
.content2 a {
    text-decoration: none;
    color: #432F2F;
}
.content2-kiri {
    width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #C1FBFF;
    border-style: double;
    border-color: #CB6F6F;
    border-width: 10px;
    border-radius: 50px;
    margin-right: 3%;
}
.content2-tengah {
    width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FFF4D8;
    border-style: double;
    border-color: #CB6F6F;
    border-width: 10px;
    border-radius: 50px;
    margin-right: 3%;
}
.content2-kanan {
    width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #E5D9FF;
    border-style: double;
    border-color: #CB6F6F;
    border-width: 10px;
    border-radius: 50px;
}